.footer {
    background-color: #6f34fe;
    footer {
        max-width: 90%;
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        h2 {
            color: white;
            span {
                color: #ffd43a;
                font-weight: 200;
            }
        }
        h6 {
            color: white;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 0.1rem;
        }
    }
}
