@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
    section {
        padding: 40px 0;
    }
    .container {
        .third {
            .backbox {
                .exps {
                    position: static;
                }
                .exp1 {
                    top: -30%;
                    left: 50px;
                }
                .exp2 {
                    right: 50px;
                }
            }
        }
        .second_lfri {
            .second_right {
                width: 50%;
            }
            .second_left {
                width: 50%;
            }
        }
    }
}
@media (max-width: 1081px) {
    section {
        padding: 35px 0;
    }
    figcaption {
        padding: 0.7em 0.5em 0.5em 0.5em;
    }
    .container {
        .forth {
            .portfolio_content {
                .pbox {
                    .bgbox {
                        width: 590px;
                        .animationbox {
                            width: 235px;
                            height: 235px;
                        }

                        .project_1 {
                            left: -85px;
                        }
                        .project_2 {
                            left: 178px;
                        }
                        .project_3 {
                            right: -85px;
                        }
                        .project_4 {
                            left: -85px;
                        }
                        .project_5 {
                            left: 178px;
                        }
                        .project_6 {
                            right: -85px;
                        }
                    }
                }
            }
        }
        .second_lfri {
            .second_right {
                width: 45%;
            }
            .second_left {
                width: 55%;
            }
        }
        .get_in_touch {
            .left {
                width: 80% !important;
            }
        }
    }
}
@media (max-width: 991.98px) {
    section {
        padding: 30px 0;
    }
    .container {
        .third {
            .backbox {
                width: 80%;
                justify-content: center;
                .exps {
                    position: static;
                    max-width: 70%;
                    margin: 1rem auto;
                    width: 100%;
                }
                &::after {
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .second_lfri {
            .second_right {
                width: 48%;
            }
            .second_left {
                width: 52%;
            }
        }
    }
}
@media (max-width: 767.98px) {
    section {
        padding: 25px 0;
    }
    .container {
        .header {
            .menudiv {
                ul {
                    display: none;
                }
                i {
                    display: block;
                }
            }
        }
        .leftright {
            height: auto;
            .left {
                width: 100%;
                .bgshape {
                    img {
                        display: none;
                    }
                }
            }
            .right {
                img {
                    display: none;
                }
            }
        }
        .second_lfri {
            flex-wrap: wrap;
            .second_left {
                width: 100%;
                height: 350px;
                .boxdiv {
                    display: flex;
                    justify-content: center;
                    margin-top: 3rem;
                    .backbox {
                        height: 225px;
                        .eduction1 {
                            bottom: 27px;
                        }
                        .eduction2 {
                            top: 25px;
                        }
                    }
                }
            }
            .second_right {
                width: 100%;
                .collage {
                    // width: 100%;
                }
            }
        }
        .skills {
            .skillscircle {
                justify-content: space-around;
                .card {
                    h2 {
                        margin-top: 0px;
                    }
                    margin: 1rem !important;
                    &:hover {
                        .percent {
                            .number {
                                h2 {
                                    font-size: 45px;
                                }
                            }
                        }
                    }

                    .percent {
                        svg {
                            circle {
                                r: 50 !important;
                                stroke-width: 7px !important;
                            }
                        }
                        .number {
                            h2 {
                                font-size: 30px;
                            }
                        }
                    }
                    &:nth-child(1) svg circle:nth-child(2) {
                        stroke-dashoffset: 157 !important;
                    }
                    &:nth-child(2) svg circle:nth-child(2) {
                        stroke-dashoffset: 157 !important;
                    }
                    &:nth-child(3) svg circle:nth-child(2) {
                        stroke-dashoffset: 157 !important;
                    }
                    &:nth-child(4) svg circle:nth-child(2) {
                        stroke-dashoffset: 157 !important;
                    }
                    &:nth-child(5) svg circle:nth-child(2) {
                        stroke-dashoffset: 172.2 !important;
                    }
                    &:nth-child(6) svg circle:nth-child(2) {
                        stroke-dashoffset: 172.2 !important;
                    }
                    &:nth-child(7) svg circle:nth-child(2) {
                        stroke-dashoffset: 180.55 !important;
                    }
                    &:nth-child(8) svg circle:nth-child(2) {
                        stroke-dashoffset: 180.55 !important;
                    }
                    &:nth-child(9) svg circle:nth-child(2) {
                        stroke-dashoffset: 180.55 !important;
                    }
                    &:nth-child(10) svg circle:nth-child(2) {
                        stroke-dashoffset: 180.55 !important;
                    }
                    &:nth-child(11) svg circle:nth-child(2) {
                        stroke-dashoffset: 180.55 !important;
                    }
                }
                img {
                    display: none !important;
                    right: 0px !important;
                }
            }
        }
        .third {
            flex-wrap: wrap;
            height: auto;
            flex-direction: column-reverse;
            .thirdl {
                width: 100%;
                min-height: 350px;
                .left {
                    width: auto;
                }
            }
            .thirdr {
                width: 100%;
                height: 100%;
                .boxdiv {
                    .backbox {
                        height: 300px;
                        .exp1 {
                            bottom: 25px;
                        }
                        .exp2 {
                            top: 25px;
                        }
                    }
                }
            }
        }
        .forth {
            .portfolio_content {
                .pbox {
                    height: auto !important;
                    .bgbox {
                        display: flex !important;
                        width: 100% !important;
                        height: 100% !important;
                        flex-wrap: wrap !important;
                        justify-content: space-around !important;
                        align-items: center !important;
                        margin-top: 25px !important;
                        border: none !important;
                        .project_1 {
                            position: static !important;
                            margin-bottom: 25px !important;
                            &:hover {
                                -webkit-transform: perspective(500) rotateX(90deg) translateY(-10em) translateZ(7.5em) !important;
                            }
                        }
                        .project_2 {
                            position: static !important ;
                            margin-bottom: 25px !important;
                            &:hover {
                                -webkit-transform: perspective(500) rotateX(90deg) translateY(-10em) translateZ(7.5em) !important;
                            }
                        }
                        .project_3 {
                            position: static !important;
                            margin-bottom: 25px !important;
                            &:hover {
                                -webkit-transform: perspective(500) rotateX(90deg) translateY(-10em) translateZ(7.5em) !important;
                            }
                        }
                        .project_4 {
                            position: static !important;
                            margin-bottom: 25px !important;
                            &:hover {
                                -webkit-transform: perspective(500) rotateX(90deg) translateY(-10em) translateZ(7.5em) !important;
                            }
                        }
                        .project_5 {
                            position: static !important;
                            margin-bottom: 25px !important;
                            &:hover {
                                -webkit-transform: perspective(500) rotateX(90deg) translateY(-10em) translateZ(7.5em) !important;
                            }
                        }
                        .project_6 {
                            position: static !important;
                            margin-bottom: 25px !important;
                            &:hover {
                                -webkit-transform: perspective(500) rotateX(90deg) translateY(-10em) translateZ(7.5em) !important;
                            }
                        }
                    }
                }
            }
        }
        .get_in_touch {
            flex-wrap: wrap;
            height: auto !important;
            .left {
                width: 100% !important;
                height: auto !important;
            }
            .right {
                width: 100% !important;
            }
        }
    }
}
@media (max-width: 575.98px) {
    section {
        padding: 15px 0;
    }
    .heading {
        font-size: 25px;
    }
    .container {
        .educationh {
            display: inline-block;
            width: 100%;
            align-items: center;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .leftright {
            .left {
                .content {
                    .text {
                        .name {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        .educationh {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .second_lfri {
            padding: 0 24px 24px 24px;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            height: auto;
            .second_right {
                height: auto;
                .collage {
                    width: auto !important;
                    height: auto !important;
                    .text {
                        .collage_name {
                            span {
                                font-size: 23px !important;
                            }
                        }
                    }
                }
            }
            .second_left {
                height: auto !important;
                .boxdiv {
                    .backbox {
                        height: 180px;
                        width: 120px;
                        .eduction1 {
                            bottom: 30px;
                            width: 125px;
                            height: 125px;
                            right: 70px;
                            .lambtonimage {
                                height: 34%;
                                margin: 10px;
                                width: 34%;
                                object-fit: cover;
                            }
                        }
                        .eduction2 {
                            width: 125px;
                            height: 125px;
                            top: 26px;
                            left: 70px;
                            .guniversity {
                                object-fit: contain;
                                height: 34%;
                                margin: 10px;
                                width: 34%;
                            }
                        }
                    }
                }
            }
        }
        .third {
            margin-top: 1rem;
        }
        .get_in_touch {
            .left {
                height: auto !important;
                .details {
                    .backbox {
                        &::after {
                            content: "";
                            position: absolute !important;
                            top: 0 !important;
                            left: 50% !important;
                            border: 10px solid #e3e0ff;
                            width: 165px !important;
                            height: 350px !important;
                            transform: translate(-50%);
                            z-index: -1;
                        }
                    }
                }
            }
            .right {
            }
        }
    }
}
